apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache
spec:
  replicas: 8
  selector:
    matchLabels:
      app: mercedes
  template:
    metadata:
      labels:
        app: mercedes
    spec:
      containers:
      - name: mercedes
        image: piyushdev0325/online_shop_mercedes:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"

