apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache
spec:
  replicas: 8
  selector:
    matchLabels:
      app: merc
  template:
    metadata:
      labels:
        app: merc
    spec:
      containers:
      - name: merc
        image: httpd:2.4
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"

